body {
  background-color: rgb(71, 63, 63);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

#label {
  font-size: 28px;
}
input {
  width: 50px;
  border: 1px solid black;
  border-radius: 4px;
  border: 2px solid rgb(214, 141, 141);
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}
#newgamee:hover {
  cursor: pointer;
}
.result {
  font-size: 12px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
